<link rel="stylesheet" type="text/css" href="../css/style.css">
<body  class="side" >
	<table border="1" border-color="black" cellpadding="11" align="center">
	<tr>
		<th>Pojok Informasi</th>
	</tr>
	<tr>
		<td>
			<img src="../img/cover.jpg" width="70%">
			<br>
			<p align="justify">Buku ini mengisahkan seorang pria bernama Charles Bukowski yang dulunya memiliki tabiat kasar, pecandu alkohol, suka bermain wanita, penjudi, dan tukang hutang. Meskipun begitu, dia mempunyai cita-cita menjadi seorang penulis. Namun, sedari awal karya-karya Charles Bukowski selalu ditolak oleh hampir setiap majalah, jurnal-jurnal, surat kabar, dan penerbit lainnya. Hingga pada akhirnya, ada seorang editor yang tertarik akan karya Bukowski dan mau membantu untuk menerbitkan karyanya tersebut. Mulai dari situlah Bukowski menjadi sukses dan karya-karyanya kian populer.</p>
		</td>
	</tr>
</table>
</body>
